*{
    padding:0;
    margin:0;
    border:none;
}
a{
    text-decoration: none;
}
ul,li,ol{
    list-style: none;
}
.right1{
    width:145px;
    height:110px;
    position: fixed;
    right:-100px; 
    top:60px;
    z-index: 2;
    /*background-color:#ff9260; */
}
.ringt11{
    margin-top: -5px;
}
.right2{
    width:145px;
    height:140px;
    position: fixed;
    /*right:0px;*/
    right:-100px; 
    top:170px;
    background-color:#ff9260;
    z-index: 2;
}
.ringt21{
    float:left;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 13px;
}
.right22{
    float:left;
    width:30px;
    height:20px;
    margin-left: 25px;
    margin-top: 20px;
    color:#fff;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
}
.right23{
    float: left;
}
.right3{
    width:145px;
    height:140px;
    position: fixed;
    /*right:0px;*/
    right:-100px; 
    top:315px;
    background-color:#ff9260;
    z-index: 2;
}
.right31{
    float: left;
    margin-top: 38px;
    margin-left: 12px;
}
.right32{
    float: left;
    margin-left: 12px;
}
.right33{
    float: left;
}
.right4{
    width:145px;
    height:140px;
    position: fixed;
    right:-100px; 
    top:460px;
    background-color:#ff4d04;
    z-index: 2;
}
