* {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
}

.box{
	width: 800px;
	height: 364px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	
}
.slider{
	width: 6400px;
	position: absolute;
	left: -800px;}
.slide{
	width: 800px;
	float: left;
}
.box>span {
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255, 0, 0);
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
}

#left {
	left: 30px;
}

#right {
	right: 30px;
}
.nav{
	position: absolute;
	left: 250px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background-color: red;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background: blue;
}